<body>

  <mat-grid-list cols="3" rowHeight="2:1">

    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile>
      <h1>Reflections</h1>
    </mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile rowspan="3" colspam="3">
      <img src="../assets/reflection_1.JPG" style="width: 100%; height: 100%;">
    </mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>


    
    <mat-grid-tile>
      <p style="font-size: 12px; margin: 5px; height: 100%; width: 100%;">
        "wrong way go back" sign : i know we have talked about how theres "no way to do something wrong" but i felt like i was doing it wrong!! just acknowledging that i felt that will hopefully help me not do it in the future
        <br>
        volume turner : overstimulation. so many things to notice
        <br>
        eye ball : my eyes (and brain frankly) felt very tired after the entiriety of my walk
        <br>
        clash pin : AGAIN. overstimulation.
        <br>
        money : i think the walk did indeed change my view of the world when it comes to what oppertunties that i can take
      </p>
    </mat-grid-tile>

    <mat-grid-tile rowspan="3" colspam="3">
      <img src="../assets/reflection_2.JPG" style="width: 100%; height: 100%;">
    </mat-grid-tile>

    
    <mat-grid-tile>
      <p style="font-size: 12px; margin: 5px; height: 100%; width: 100%;">
        "melting clock" : time didnt really feel real while on my walk. i think it was because i was so focused on the world around me that i didnt really pay attention to the time
        <br>
        pin point : because i didn't pay attention to the time, i felt like i was very in the moment
        <br>
        walk light : i think things like the walk light called to me the most because i have some sort of frame of reference for it? like ask me to code a walk light and i could do it. ask me to code a person and i wouldnt know where to start
        <br>
        person with camera : again, i felt so much like i was watching people and the world. and i wish i wouldve taken pictures (or at least notes) so i could remember better
        <br>
      </p>
    </mat-grid-tile>

    <mat-grid-tile> 
      <p style="font-size: 12px; margin: 5px; height: 100%; width: 100%;">
        stairs : HEY! did u know that there are so. many. stairs on campus???
        <br>
        swearing : i kept getting distracted by this and that and this and it definitly didnt help being SO distracted
        <br>
        red light arrow : i felt very much like i was just WATCHING people and not a weird way but also not a good way. just in a way. i could only imgaine being someone that sees the world like that all the time
      </p>
    </mat-grid-tile>

    <mat-grid-tile> 
     <p style="margin: 5px; font-size: 12px; height: 100%; width: 100%;">
      earth : i feel like throughout my opportunity walk, i noticed nature alot more than anything else
      <br>
      quote : i think the quote speaks for itself when it comes to how it changed my view of the world
      
     </p> 
    </mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile>
      <p>
        overall i think the oppertunity walk did change my perspective of the world (has this entire class has so far). 
        it made things (things = taking risks/starting a business/taking the oppertunity) feel WAY less scary than when i started. 
        maybe its because now i know if one oppertunity doesn't work out, theres one right around the corner. i kinda had a feeling i 
        knew what we would have to do on the second form and HONESTLY it was easier than i thought it was gonna be!! i opened it and was
        like "holy shit theres 95 THINGS I NEED TO FILL OUT" and then i started and was done like that!
      </p>
    </mat-grid-tile>


    
  </mat-grid-list>
  
</body>