
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .bar {
      fill: #a9a9a9;
      opacity: 0.2;
    }

    .bar:hover {
    fill: #ec008c;
    opacity: 1;
    }

</style>
</head>
<body>

    <div class="bar" style="border: black; border-width: 10px;">
        <img src="../../assets/circle.png" alt="circle" class="img" >
    </div>

    <div class="bar" style="border: black; border-width: 10px;">
        <img src="../../assets/traingle.png" alt="circle" class="img" >
    </div>

</body>
</html>